<div class="container-fluid">
    <div class="row windowBar">
        <div class="titlebar">{{allCategories}}</div>
        <div class="closebutton"></div>
        <div>
            <treecontrol class="tree-light"
                         tree-model="treeModel"
                         options="treeOptions"
                         on-selection="showSelected(node)"
                         selected-node="node1">
                {{node.name}}
            </treecontrol>
        </div>
    </div>
    <div class="row windowBar">
        <div class="titlebar">{{titleCategory}}</div>
        <div class="closebutton"></div>
        <div>
            <div>
                <div class="card" ng-repeat="prod in categoryProducts">
                    <a class="card-body" ng-click="getProduct(prod)">
                        <ul>
                            <li>Id:{{prod.id}}</li>
                            <li>Название: {{prod.name}}</li>
                        </ul>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row windowBar">
        <div class="titlebar">{{titleProduct}}</div>
        <div class="closebutton"></div>
        <div class="card">
            <div class="card-body">
                <ul>
                    <li>
                        Название:{{chosenProduct.name}}
                    </li>
                    <li>
                        Цена: {{chosenProduct.price}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>